/* Общий контейнер футера *//* Общий контейнер футера *//* Общий контейнер футера *//* Общий контейнер футера *//* Общий контейнер футера */
.footer {
    position: relative;
    width: 100%;
    max-width: 1920px; /* ограничивает максимальную ширину */
    height: 420px;
    margin: 0 auto; /* центрирование футера */
}

  
  .footer a.footer-twitter:hover,
  .footer a.footer-tools:hover,
  .footer a.footer-instagram:hover,
  .footer a.footer-services:hover,
  .footer a.footer-threads:hover,
  .footer a.footer-about:hover,
  .footer a.footer-tiktok:hover,
  .footer a.footer-events:hover {
    color: #DC5C33;
    text-decoration: underline;
    text-shadow: 0 0 1px #DC5C33;
  }
  
  /* Фоновый прямоугольник (Rectangle 645) */
  .footer .footer-rectangle {
    box-sizing: border-box;
    position: absolute;
    width: 1921px;
    height: 470px;
    left: -1px;
    top: 50px;
    background: #1D2C1E;
    border-top: 5px solid #DC5C33;
  }
  
  /* Заголовки групп ссылок */
  
  /* PAGES */
  .footer .footer-pages-header {
    position: absolute;
    width: 247px;
    height: 70px;
    left: 684px;
    top: 103px;
    font-family: 'Anybody Expanded';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #DC5C33;
  }
  
  /* SOCIAL */
  .footer .footer-social-header {
    position: absolute;
    width: 261px;
    height: 70px;
    left: 1001px;
    top: 103px;
    font-family: 'Anybody Expanded';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #DC5C33;
  }
  
  /* CONTACT */
  .footer .footer-contact-header {
    position: absolute;
    width: 285px;
    height: 70px;
    left: 1308px;
    top: 103px;
    font-family: 'Anybody Expanded';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #DC5C33;
  }
  
  /* Ссылки – группа SOCIAL и PAGES */
  
  /* X (twitter) */
  .footer a.footer-twitter {
    position: absolute;
    width: 142px;
    height: 42px;
    left: 1009px;
    top: 200px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    color: #E7E4D4;
    text-decoration: none;
  }
  
  /* tools */
  .footer a.footer-tools {
    position: absolute;
    width: 117px;
    height: 42px;
    left: 690px;
    top: 200px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    color: #E7E4D4;
    text-decoration: none;
  }
  
  /* Instagram */
  .footer a.footer-instagram {
    position: absolute;
    width: 142px;
    height: 42px;
    left: 1009px;
    top: 251px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    color: #E7E4D4;
    text-decoration: none;
  }
  
  /* services */
  .footer a.footer-services {
    position: absolute;
    width: 117px;
    height: 42px;
    left: 690px;
    top: 251px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    color: #E7E4D4;
    text-decoration: none;
  }
  
  /* threads */
  .footer a.footer-threads {
    position: absolute;
    width: 142px;
    height: 41px;
    left: 1009px;
    top: 302px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    color: #E7E4D4;
    text-decoration: none;
  }
  
  /* about */
  .footer a.footer-about {
    position: absolute;
    width: 117px;
    height: 41px;
    left: 690px;
    top: 302px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    color: #E7E4D4;
    text-decoration: none;
  }
  
  /* Tik-tok */
  .footer a.footer-tiktok {
    position: absolute;
    width: 142px;
    height: 42px;
    left: 1009px;
    top: 352px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    color: #E7E4D4;
    text-decoration: none;
  }
  
  /* events */
  .footer a.footer-events {
    position: absolute;
    width: 117px;
    height: 42px;
    left: 690px;
    top: 352px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    color: #E7E4D4;
    text-decoration: none;
  }
  
  /* Контактные данные */
  
  /* Email */
  .footer .footer-email {
    position: absolute;
    width: 230px;
    height: 41px;
    left: 1308px;
    top: 200px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 300;
    font-size: 24.4706px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    color: #E7E4D4;
  }
  
  /* Телефон */
  .footer .footer-phone {
    position: absolute;
    width: 230px;
    height: 42px;
    left: 1308px;
    top: 249px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    color: #E7E4D4;
  }
  
  /* Описание */
  .footer .footer-description {
    position: absolute;
    width: 334px;
    height: 198.26px;
    left: 197px;
    top: 200px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #E7E4D4;
    letter-spacing: 0.4px; /* увеличивает промежуток между буквами */ 
  }
  
  /* Логотип */
  .footer .footer-logo {
    position: absolute;
    width: 412px;
    height: 120px;
    left: 165px;
    top: 66px;
    background: url('images/LOGO.png') no-repeat;
    background-size: contain;
  }
  
  /* Копирайт */
  .footer .footer-copyright {
    position: absolute;
    width: 577px;
    height: 41px;
    left: 0px;
    top: 470px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: #E7E4D4;
  }
  